$primary   : #669027
$secondary : #6B8D6D
$accent    : #EECE6C
$dark      : #111111
$dark-page : #111111
$positive  : #339900
$negative  : #990000
$info      : #0066CC
$warning   : #EECE6C

$breakpoint-xs: 575px
$breakpoint-sm: 767px
$breakpoint-md: 991px
$breakpoint-lg: 1199px

// custom variables
$space-base   : 12px !default
$body-font-size   : 12px !default
$body-line-height : 1.4 !default

$typography-font-family: 'PMingLiU', 'MingLiU', 'Microsoft JhengHei', 'Meiryo', 'Arial', 'Arial Unicode MS', 'Helvetica', 'sans-serif', 'Verdana', 'Trebuchet MS' !default
$separator-color: rgba(107, 141, 109, .35) !default
$generic-border-radius: 3px !default

$button-padding: 2px 12px !default
$button-dense-padding: 2px 8px !default
$button-font-size: 12px !default
$button-line-height: 1.5em !default

$field-marginal-font-size               : 16px !default
$field-marginal-avatar-font-size        : 20px !default
$field-bottom-font-size                 : 11px !default
$field-label-font-size                  : 13px !default
$field-label-line-height                : 1.2 !default
$field-label-top                        : 12px !default
$field-dense-bottom-font-size           : 10px !default
$field-dense-label-font-size            : 11px !default
$field-dense-label-top                  : 8px !default

$table-th-font-size                     : 11px !default
$table-tbody-td-font-size               : 12px !default
$table-title-font-size                  : 16px !default
$table-bottom-font-size                 : 11px !default

$toolbar-min-height                     : 42px !default
$toolbar-padding                        : 0 10px !default
$toolbar-title-font-size                : 17px !default